.feature-card {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}

.feature-card h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #001931;
}

.feature-card .feature-info {
  font-size: 16px;
  margin-bottom: 44px;
  color: #627382;
}

.card-stack {
  display: flex;
  gap: 24px;
}

.card-stack .card-info {
  padding: 69.5px 24px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 #00000047;
}

.icon {
  background-color: #F95555;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 16px;
}

.card-info h4 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
}

.card-info p {
  font-size: 16px;
  display: inline;
  color: #627382;
}