.frame {
  padding: 120px 0px;
}

.frame-container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
}

.frame-info {
  padding: 102px 0px;
}

.info1 {
  font-size: 16px;
  color: #30B868;
  font-weight: 500;
  margin-bottom: 16px;
}

.frame-info h1 {
  font-size: 48px;
  font-weight: bold;
}

.info2 {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-bottom: 40px;
  margin-top: 16px;
}

.info3 {
  display: flex;
  gap: 6px;
  margin-bottom: 16px;
}

.info3 p {
  color: #001931;
}